extends layout

block content
    p= username
    p 
        textarea(id="message" rows="5" style="width: 100%;")
    p 
        a(href="#" class="btn btn-success pull-right" onclick="Blah.sendMessage(); return false;") Send Message
        div(style="clear:both;")
    hr
    p(id="messages")
