doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        script(src='/javascripts/jquery-2.1.4.min.js')
        script(src='/javascripts/underscore-min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
        script(src='/javascripts/blah.js')
    body
        
        span(class="pull-right text-muted")= version
        h3
            a(href="/" title="Messages")
                i(class="fa fa-comment-o")
            &nbsp; &nbsp;
            a(href="/register" title="Register")
                i(class="fa fa-user-plus")
            &nbsp; &nbsp;
            a(href="/login" title="Log in")
                i(class="fa fa-sign-in")
            &nbsp; &nbsp;
            a(href="/logout" title="Log out")
                i(class="fa fa-power-off")
        div(style="clear:both;")
        h1 #{title}
        p Welcome to #{title} the awesome communicator.
        block content
