doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        script(src='/javascripts/jquery-2.1.4.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/stylesheets/style.css')

    script.
            var socket = io.connect('http://localhost:3000');
            socket.on('append-messages', function (data) {
                // counter = data.count;
                var messages = $('#messages')[0];
                data.new_messages.forEach(function(message) {
                    var p = document.createElement('p');
                    $(p).html(message);
                    messages.appendChild(p);
                });
            });
            socket.on('post-message-ok', function(data) {
                $('#message')[0].value = '';
                $('#message')[0].readOnly = false;
            });
            function sendMessage() {
                $('#message')[0].readOnly = true;
                var message = $('#message')[0].value;
                socket.emit('post-message', {
                    message: message
                });
            }
    body
        block content
