extends plain_layout

block plain_content
    h2 Login
    form(action="/api/login" method="post")
        p 
            p
                span Username:<br>
            input(type="text" name="username" style="width: 100%;")
        p 
            p 
                span Password:<br>
            input(type="text" name="password" style="width: 100%;")
        p 
            input(type="submit" class="btn btn-success pull-right" value="Log in")
            div(style="clear:both;")
    p
        a(href="/register" title="Register") register
