doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        script(src='/javascripts/jquery-2.1.4.min.js')
        script(src='/javascripts/underscore-min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
        script(src='/javascripts/harmony-collections.min.js')
        script(src='/javascripts/markdown.min.js')
        script(src='/javascripts/blah.js')
        script.
            Blah.user = !{user};
    body
        div(id="wrapper")
            block plain_content
            div(style="clear:both;")
