body {
    width: 100%;
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type=text] {
    padding: 0.5em;
}

#wrapper {
    display: block;
    width: 900px;
    padding: 0;
    margin: 1em auto;
}

#dashboard {
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    /*border: 1px solid lightgray;*/
    /*padding-top: 1em;*/
    padding-right: 1em;
    /*padding-bottom: 1em;*/
    /*padding-left: 1em;*/
    margin: 0;
    float: left;
    /*background-color: red;*/
}

#content {
    display: inline-block;
    box-sizing: border-box;
    width: 600px;
    /*border-top: 1px solid lightgray;*/
    /*border-right: 1px solid lightgray;*/
    /*border-bottom: 1px solid lightgray;*/
    border-left: 1px solid lightgray;
    /*padding-top: 1em;*/
    padding-right: 1em;
    /*padding-bottom: 1em;*/
    padding-left: 1em;
    margin: 0;
    float: left;
    /*background-color: blue;*/
}

#menu {
    /*padding-top: 1em;*/
    padding-right: 1em;
    /*padding-bottom: 1em;*/
    /*padding-left: 1em;*/
    margin: 0;
    /*font-size: 25px;*/
    margin-bottom: 1em;
    /*text-align: right;*/
}

#user-info {
    text-align: right;
}

#chat-add > div {
    margin-bottom: 1em;
}

#new-chat-name {
    display: inline-block;
    width: 220px;
}

#chat-list > div {
    margin-bottom: 1em; 
    line-height: 34px;    
}

#chat-list .chat-name {
    display: inline-block;
    width: 220px;
    background-color: #F0F0F0;
    padding-left: 1em;
    cursor: pointer;
}

#chat-list .chat-name:hover {
    background-color: lightgray;
}

.channel-button {
    display: inline-block;
    box-sizing: border-box;
    width: 37px;
    height`: 34px;
}
